<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/templates/css/style.css" rel="stylesheet" type="text/css">
      <link rel="shortcut icon" href="#">
      <link type="image/x-icon" href="templates/img/d2fav.ico" rel="shortcut icon">
      <title>Ascii</title>
   </head>
   <body>
      <div class="error">
         <div class="status_code">{{.StatCode}}</div>
         <div class="err_message">{{.Str}}</div>
      </div>
      <div class="back_error">
         <a class="img_button" href="/"><img class="back" src="templates/img/back.png" alt=""></a>
      </div>
      </div>
   </body>
</html>
