<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark-Forum</title>
</head>

<body>
    <div id="ipbwrapper">
        <div id="banner_wrapper">
            <div id="branding">
                <div id="banner_highlight">
                    <div class="wrapper">
                        <div id="search">
                            <form action="/search" method="post" id="search-box">
                                <input type="hidden" name="search_app_filters[forums][noPreview]" value="0">
                                <input type="hidden" name="search_date_start" value="">
                                <fieldset>
                                    <label for="main_search" class="hide">Поиск</label>
                                    <span></span>
                                </fieldset>
                            </form>
                        </div>
                        <div id="logo" class="right">
                            <a href="/" title="index.html" rel="home" accesskey="1"><img src="*********************"
                                    alt="Логотип"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nav-wrap">
                <div class="wrapper clearfix">
                    <div id="user_navigation" class="not_logged_in">
                        <ul class="ipsList_inline">
                            <li>
                                <span class="services">
                                </span>
                                <a href="htc:\Users\subud\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.htmltps://vse.kz/index.php?app=core&amp;module=global&amp;section=login"
                                    title="Войти" id="sign_in"><img
                                        src="https://vse.kz/public/style_images/osnovnoi34/user_login.png" alt="">
                                    Войти</a>
                            </li>
                            <li>
                                <a href="https://vse.kz/index.php?app=core&amp;module=global&amp;section=register"
                                    title="Регистрация" id="register_link"><img
                                        src="https://vse.kz/public/style_images/osnovnoi34/user_register.png" alt="">
                                    Регистрация</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="content">
            <div class="wrapper">
                <div id="content" class="clearfix">
                    <div id="board_index" class="ipsLayout ipsLayout_withright ipsLayout_largeright clearfix ">
                        <div id="categories" class="ipsLayout_content clearfix">

                        </div>
                    </div>
                    <div id="board_statistics" class="statistics clearfix">
                        <h4 class="statistics_head clearfix">

                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>